{% load static %}
<!-- fetaure__section__start -->
<div class="feature__2 feature__3  sp_top_80">
    <div class="container ">
        <div class="row">
            <div class="col-xl-12">

                <div class="feature__border">
                    <div class="feature__2__single feature__3__single">
                        <div class="feature__2__icon">
                            <img src="{% static 'assets/img/feature/feature__1.svg' %}" alt="">
                        </div>
                        <div class="feature__2__text">
                            <h4>ارسال رایگان</h4>
                            <p>بر اساس سفارشات $99.</p>
                        </div>
                    </div>

                    <div class="feature__2__single feature__3__single">
                        <div class="feature__2__icon">
                            <img src="{% static 'assets/img/feature/feature__2.svg' %}" alt="">
                        </div>
                        <div class="feature__2__text">
                            <h4>بازگشت پول</h4>
                            <p>پول پس از 15 روز..</p>
                        </div>
                    </div>

                    <div class="feature__2__single feature__3__single">
                        <div class="feature__2__icon">
                            <img src="{% static 'assets/img/feature/feature__3.svg' %}" alt="">
                        </div>
                        <div class="feature__2__text">
                            <h4>تسویه حساب ایمن</h4>
                            <p>100٪ پرداخت امن.</p>
                        </div>
                    </div>

                    <div class="feature__2__single feature__3__single">
                        <div class="feature__2__icon">
                            <img src="{% static 'assets/img/feature/feature__4.svg' %}" alt="">
                        </div>
                        <div class="feature__2__text">
                            <h4>پشتیبانی آنلاین</h4>
                            <p>از کیفیت محصول اطمینان حاصل کنید.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- fetaure__section__end -->
