{% load product_tags %}
{% load humanize %}
{% if special_list %}
    {% for list in special_list %}
        <!-- feature__section__start -->
        <div class="feture__section  sp_top_30 sp_bottom_80">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__title text-center">
                            <h2>{{ list.title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row grid__responsive row__custom__class feature__slider__active slider__default__arrow">
                    {% for list_item in list.items.all %}
                        {% with item=list_item.product %}
                            <div class="col-xl-3 column__custom__class">
                                {% include 'product/Components/product_card.html' %}
                            </div>
                        {% endwith %}
                    {% endfor %}


                </div>
                <div class="col-xl-12">
                    <div class="feture__section__button text-center">
                        <a class="default__button btn__pink" href="{% url 'shop-view' %}">مشاهده همه</a>
                    </div>
                </div>
            </div>

        </div>
        {% if forloop.counter == 1 %}
            {% show_about_product %}
        {% endif %}
        <!-- feature__section__start -->
    {% endfor %}

{% endif %}
