{% extends 'Layout/Base/base.html' %}
{% block meta %}

{% endblock %}
{% block title %}
    ثبت نام کاربر
{% endblock %}
{% block content %} {% load static %}

    <!-- breadcrumb__start -->
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb__title">
                        <h1> ثبت نام کاربر</h1>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">خانه</a>
                            </li>
                            <li class="color__blue">
                                ثبت نام کاربر
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb__end -->


    <div class="loginarea  sp_bottom_80 sp_top_80">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 mx-auto loginarea__col">
                    <div class="loginarea__wraper">
                        <div class="loginarea__heading">
                            <h5 class="login__title">مشخصات فردی</h5>
                        </div>
                        <form method="post" enctype="multipart/form-data" autocomplete="off" action="{% url 'create-user-view' %}">
                            {% csrf_token %}
                            <div class="text-danger">
                                {{ form.non_field_errors }}

                            </div>

                            <div class="loginarea__form">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="profile_picture">عکس پروفایل</label>
                                        <input class="common__login__input" placeholder="حداکثر ۱۰۰ کیلو بایت" name="profile_picture" id="profile_picture"
                                               type="file" accept="image/*" onchange="previewProfileImage(event)">
                                        <div class="text-danger">
                                            {{ form.profile_picture.errors }}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div style="margin-top:10px; text-align:center;">
                                            <img id="profile_image_preview" src="" alt="پیش‌نمایش عکس پروفایل"
                                                 style="display:none; width:100px; height:100px; object-fit:cover; border-radius:50%; border:2px solid #ccc;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="loginarea__form">
                                <div class="row">
                                    <div class="col-6">
                                        <label>نام *</label>
                                        <input class="common__login__input" name="first_name"
                                               value="{{ form.data.first_name }}"
                                               type="text"
                                               required placeholder="نام ">
                                        <div class="text-danger">
                                            {{ form.first_name.errors }}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label>نام خانوادگی*</label>
                                        <input class="common__login__input" autocomplete="off" name="last_name"
                                               value="{{ form.data.last_name }}"
                                               type="text"
                                               required placeholder="نام خانوادگی">
                                        <div class="text-danger">
                                            {{ form.last_name.errors }}
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-6">
                                    <div class="loginarea__form">
                                        <label>ایمیل </label>
                                        <input class="common__login__input" name="email"
                                               value="{{ form.data.email }}"
                                               type="email"
                                               placeholder="ایمیل"
                                               style="text-align: right; direction: rtl;">
                                        <div class="text-danger">
                                            {{ form.email.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="loginarea__form">
                                        <label>شماره موبایل *</label>
                                        <input class="common__login__input" name="username"
                                               value="{{ form.initial.username }}"
                                               type="text"
                                               required readonly>
                                        <div class="text-danger">
                                            {{ form.username.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="loginarea__form">
                                        <label>استان *</label>
                                        <select class="common__login__input" name="province" id="province-select" required>
                                            <option value="">انتخاب استان</option>
                                            {% for province in provinces %}
                                                <option value="{{ province.id }}">{{ province.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-danger">{{ form.province.errors }}</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="loginarea__form">
                                        <label>شهرستان *</label>
                                        <select class="common__login__input" name="county" id="county-select" required>
                                            <option value="">ابتدا استان را انتخاب کنید</option>
                                        </select>
                                        <div class="text-danger">{{ form.county.errors }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                       <div class="loginarea__form">
                                        <label>منطقه *</label>
                                        <select class="common__login__input" name="district" id="district-select" required>
                                            <option value="">ابتدا شهرستان را انتخاب کنید</option>
                                        </select>
                                        <div class="text-danger">{{ form.district.errors }}</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                      <div class="loginarea__form">
                                        <label>شهر *</label>
                                        <select class="common__login__input" name="city" id="city-select" required>
                                            <option value="">ابتدا شهرستان را انتخاب کنید</option>
                                        </select>
                                        <div class="text-danger">{{ form.city.errors }}</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                       <div class="loginarea__form">
                                        <label>روستا </label>
                                        <select class="common__login__input" name="rural" id="rural-select" >
                                            <option value="">ابتدا شهرستان را انتخاب کنید</option>
                                        </select>
                                        <div class="text-danger">{{ form.rural.errors }}</div>
                                    </div>
                                </div>
                            </div>


                            <div class="loginarea__form">
                                <label for="address">آدرس *</label>
                                <textarea required class="common__login__input" name="address" rows="4"
                                          style="height: auto"
                                          placeholder="آدرس">{{ form.data.address }}</textarea>
                                <div class="text-danger">
                                    {{ form.address.errors }}
                                </div>
                            </div>
                            <div class="loginarea__form">
                                <label>کدپستی *</label>
                                <input class="common__login__input" name="postal_code"
                                       value="{{ form.data.postal_code }}"
                                       type="text"
                                       required placeholder="کدپستی">
                                <div class="text-danger">
                                    {{ form.postal_code.errors }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="loginarea__form">
                                        <label for="password1">کلمه عبور*</label>
                                        <input class="common__login__input" autocomplete="new-password" type="password"
                                               name="password1" required
                                               placeholder=" حداقل۴  کاراکتر"
                                               onfocus="setEnglishKeyboard()">
                                        <div class="text-danger">
                                            {{ form.password1.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="loginarea__form">
                                        <label for="password2">تکرار کلمه عبور*</label>
                                        <input class="common__login__input" autocomplete="new-password" type="password"
                                               name="password2" required
                                               placeholder=" حداقل۴  کاراکتر" onfocus="setEnglishKeyboard()">
                                        <div class="text-danger">
                                            {{ form.password2.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="loginarea__button ">
                                <button id="btnSendCode" type="submit" class="default__button">ارسال</button>
                            </div>

                            <input type="hidden" name="province" id="province-name-input" />
                            <input type="hidden" name="county" id="county-name-input" />
                            <input type="hidden" name="city" id="city-name-input" />
                            <input type="hidden" name="district" id="district-name-input" />
                            <input type="hidden" name="rural" id="rural-name-input" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        function setEnglishKeyboard() {
            this.setAttribute('lang', 'en');
        }

        function previewProfileImage(event) {
            const input = event.target;
            const preview = document.getElementById('profile_image_preview');
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '';
                preview.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const provinceSelect = document.getElementById('province-select');
            const countySelect = document.getElementById('county-select');
            const citySelect = document.getElementById('city-select');
            const districtSelect = document.getElementById('district-select');
            const ruralSelect = document.getElementById('rural-select');
            const provinceNameInput = document.getElementById('province-name-input');
            const countyNameInput = document.getElementById('county-name-input');
            const cityNameInput = document.getElementById('city-name-input');
            const districtNameInput = document.getElementById('district-name-input');
            const ruralNameInput = document.getElementById('rural-name-input');

            provinceSelect.addEventListener('change', function() {
                const provinceId = this.value;
                // Set province name in hidden input
                const selectedOption = this.options[this.selectedIndex];
                if (provinceNameInput) {
                    provinceNameInput.value = selectedOption.text;
                }
                countySelect.innerHTML = '<option value="">در حال بارگذاری...</option>';
                fetch(`/iran/api/counties/?province_id=${provinceId}`)
                    .then(res => res.json())
                    .then(data => {
                        countySelect.innerHTML = '<option value="">انتخاب شهرستان</option>';
                        data.forEach(county => {
                            countySelect.innerHTML += `<option value="${county.id}">${county.name}</option>`;
                        });
                        citySelect.innerHTML = '<option value="">ابتدا شهرستان را انتخاب کنید</option>';
                        districtSelect.innerHTML = '<option value="">ابتدا شهرستان را انتخاب کنید</option>';
                        ruralSelect.innerHTML = '<option value="">ابتدا شهرستان را انتخاب کنید</option>';
                    });
            });

            countySelect.addEventListener('change', function() {
                const countyId = this.value;
                citySelect.innerHTML = '<option value="">در حال بارگذاری...</option>';
                districtSelect.innerHTML = '<option value="">در حال بارگذاری...</option>';
                ruralSelect.innerHTML = '<option value="">در حال بارگذاری...</option>';
                fetch(`/iran/api/cities/?county_id=${countyId}`)
                    .then(res => res.json())
                    .then(data => {
                        citySelect.innerHTML = '<option value="">انتخاب شهر</option>';
                        data.forEach(city => {
                            citySelect.innerHTML += `<option value="${city.id}">${city.name}</option>`;
                        });
                    });
                fetch(`/iran/api/districts/?county_id=${countyId}`)
                    .then(res => res.json())
                    .then(data => {
                        districtSelect.innerHTML = '<option value="">انتخاب منطقه</option>';
                        data.forEach(district => {
                            districtSelect.innerHTML += `<option value="${district.id}">${district.name}</option>`;
                        });
                    });
                fetch(`/iran/api/rurals/?county_id=${countyId}`)
                    .then(res => res.json())
                    .then(data => {
                        ruralSelect.innerHTML = '<option value="">انتخاب روستا</option>';
                        data.forEach(rural => {
                            ruralSelect.innerHTML += `<option value="${rural.id}">${rural.name}</option>`;
                        });
                    });
            });

            // Update hidden inputs when selects change
            countySelect.addEventListener('change', function() {
                const countyId = this.value;
                const selectedOption = this.options[this.selectedIndex];
                if (countyNameInput) {
                    countyNameInput.value = selectedOption.text;
                }
            });

            citySelect.addEventListener('change', function() {
                const cityId = this.value;
                const selectedOption = this.options[this.selectedIndex];
                if (cityNameInput) {
                    cityNameInput.value = selectedOption.text;
                }
            });

            districtSelect.addEventListener('change', function() {
                const districtId = this.value;
                const selectedOption = this.options[this.selectedIndex];
                if (districtNameInput) {
                    districtNameInput.value = selectedOption.text;
                }
            });

            ruralSelect.addEventListener('change', function() {
                const ruralId = this.value;
                const selectedOption = this.options[this.selectedIndex];
                if (ruralNameInput) {
                    ruralNameInput.value = selectedOption.text;
                }
            });
        });
    </script>
{% endblock %}
