{% extends 'Layout/Base/base.html' %}
{% load static %}
{% block meta %}

{% endblock %}
{% block title %}
    ریست رمزعبور
{% endblock %}


{% block content %}

    <!-- breadcrumb__start -->
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb__title">
                        <h1>ریست رمزعبور</h1>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">خانه</a>
                            </li>
                            <li class="color__blue">
                                ریست رمزعبور
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb__end -->


    <!-- login__section__start -->
    <div class="loginarea  sp_bottom_80 sp_top_80">
        <div class="container">
            <div class="row ">
                <div class="col-xl-6 mx-auto loginarea__col">
                    <div class="loginarea__wraper">

                        <form action="{% url 'reset-password-view' %}" method="post">
                            {% csrf_token %}
                            <div class="text-danger">{{ form.non_field_errors }}</div>
                            <div class="loginarea__form">
                                <label>رمز جدید *</label>
                                <input name="new_password1" class="common__login__input" type="password"/>
                            </div>
                            <div class="row text-danger">
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="loginarea__form">
                                <label>تکرار رمز جدید *</label>
                                <input name="new_password2" class="common__login__input" type="password" required>
                            </div>
                            <div class="row text-danger">
                                {{ form.new_password2.errors }}
                            </div>
                            <div class="row">
                                <div class="loginarea__form col d-flex justify-content-between">
                                    <div>
                                        <label for="btnSubmit"></label>
                                        <button
                                                type="submit"
                                                name="btnSubmit"
                                                id="btnSubmit"
                                                class="default__button"
                                        >
                                            تایید
                                        </button>
                                    </div>
                                    <div>
                                        <label for="btnCancel"></label>
                                        <a href="{% url 'home' %}" class="default__button">
                                            انصراف
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
