<!-- header__topbar__start -->
<div class="header__topbar desktop__menu__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="header__topbar__left">
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                <rect x="48" y="96" width="416" height="320" rx="40" ry="40" fill="none"
                                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="32"></rect>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="32" d="M112 160l144 112 144-112"></path>
                            </svg>
                            {{ siteInfo.email1 }}
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512">
                                <path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z"
                                      fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="32"></path>
                                <circle cx="256" cy="192" r="48" fill="none" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></circle>
                            </svg>
                            {{ siteInfo.address }}
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="header__topbar__right">
                    <div class="header__topbar__social__icon">
                        <ul>
                            {% for item in social_media %}
                                <li>
                                    <a href="{{ item.url }}" target="_blank">
                                        <i class="fab fa-{{ item.type }}"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header__topbar__end -->
        