{% load pageNavigation %}
{% if page_obj.has_other_pages %}
    <div class="pagination__wraper text-center sp_top_40">
        <ul>
            <li class="{% if not page_obj.has_previous %} disabled {% endif %} prev">
                <a title="صفحه قبلی" {% if page_obj.has_previous %}disabled
                   href="?{% update_page page_obj.previous_page_number %}" {% endif %}>
                      <span>
                             <i class="fas fa-angle-double-right"></i>
                      </span>
                </a>
            </li>
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li><a class="active" title="صفحه فعلی" href="#">{{ num }}</a></li>
                {% else %}
                    <li>
                        <a title="صفحه {{ num }}" href="?{% update_page num %}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="{% if not page_obj.has_next %} disabled {% endif %} next">
                <a title="صفحه بعدی" {% if page_obj.has_next %} disabled
                   href="?{% update_page page_obj.next_page_number %}" {% endif %}>
                    <span aria-hidden="true">
                      <i class="fas fa-angle-double-left"></i>
                </span>
                </a>
            </li>
        </ul>
    </div>
{% endif %}

