{% if item %}
<!-- about__before__after__start -->
<div class="before__after sp_top_80">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="before-after-wrap" dir="ltr">
                    <span class="before__after__common before__class">بعد</span>
                    <figure style="background-image: url({{ item.image_after.url }})">
                        <div id="compare" style="background-image: url({{ item.image_before.url }})"></div>
                    </figure>
                    <input oninput="beforeAfter()" onchange="beforeAfter()" type="range" min="0" max="100" value="50"
                           id="slider">
                    <span class="before__after__common after__class">قبل</span>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="about__4">
                    <h2><strong>{{ item.title }}</strong></h2>
                    {{ item.description|safe }}
                    <div class="about__4__button">
                        {% if  item.product.slug %}
                         <a class="default__button" href="{% url 'product-detail-view' item.product.slug %}">اکنون خرید کنید</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <script>
            function beforeAfter() {
                document.getElementById('compare').style.width = document.getElementById('slider').value + "%";
            }
        </script>

    </div>
</div>
<!-- about__before__after__end -->
{% endif %}