<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:500px">
	<tbody>
		<tr>
			<td>اندازه صفحه نمایش&nbsp;</td>
			<td>۱۵.۶ اینچ</td>
		</tr>
		<tr>
			<td>حافظه SSD</td>
			<td>۱ ترابایت</td>
		</tr>
		<tr>
			<td>پردازنده</td>
			<td>Core i5</td>
		</tr>
		<tr>
			<td>حافظه RAM</td>
			<td>۱۶ گیگابایت</td>
		</tr>
		<tr>
			<td>حافظه اختصاصی کارت گرافیک</td>
			<td>بدون حافظه گرافیکی مجزا</td>
		</tr>
		<tr>
			<td>وزن</td>
			<td>۱.۷ کیلوگرم</td>
		</tr>
	</tbody>
</table>




<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
	<tbody>
		<tr>
			<td style="width:25%"><strong>مشخصات کلی</strong></td>
			<td style="width:75%">&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">سیستم عامل</td>
						<td style="width:70%">بدون سیستم عامل</td>
					</tr>
					<tr>
						<td>کاربری</td>
						<td>کاربری مالتی&zwnj;مدیا - عمومی</td>
					</tr>
					<tr>
						<td>تعداد پورت USB 2.0</td>
						<td>یک عدد</td>
					</tr>
					<tr>
						<td>تعداد پورت USB 3.2</td>
						<td>دو عدد Gen۱</td>
					</tr>
					<tr>
						<td>تعداد پورت USB Type-C</td>
						<td>یک عدد Gen</td>
					</tr>
					<tr>
						<td>قابلیت&zwnj;های دستگاه</td>
						<td>صفحه نمایش مات - وبکم</td>
					</tr>
					<tr>
						<td>اقلام همراه</td>
						<td>دفترچه راهنما / شارژر</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>مشخصات فیزیکی</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">وزن</td>
						<td style="width:70%">۱.۷ کیلوگرم</td>
					</tr>
					<tr>
						<td>ابعاد</td>
						<td>۳۵۹.۷x۲۳۲.۵x۱۹.۹ میلی&zwnj;متر</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>پردازنده مرکزی (CPU)</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">سازنده پردازنده</td>
						<td style="width:70%">Intel</td>
					</tr>
					<tr>
						<td>نسل پردازنده</td>
						<td>نسل ۱۳ اینتل</td>
					</tr>
					<tr>
						<td>سری پردازنده</td>
						<td>Core i۵</td>
					</tr>
					<tr>
						<td>مدل پردازنده</td>
						<td>۱۳۴۲۰H</td>
					</tr>
					<tr>
						<td>فرکانس پردازنده</td>
						<td>۲.۱ تا ۴.۶ گیگاهرتز</td>
					</tr>
					<tr>
						<td>حافظه Cache</td>
						<td>۱۲ مگابایت</td>
					</tr>
					<tr>
						<td>سایر توضیحات پردازنده مرکزی (CPU)</td>
						<td>تعداد هسته: ۸ (۴ هسته Performance و ۴ هسته Efficient) / تعداد رشته: ۱۲</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>پردازنده گرافیکی (GPU)</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">سازنده پردازنده گرافیکی</td>
						<td style="width:70%">Intel</td>
					</tr>
					<tr>
						<td>مدل پردازنده گرافیکی</td>
						<td>UHD Graphics (integrated)</td>
					</tr>
					<tr>
						<td>حافظه اختصاصی پردازنده گرافیکی</td>
						<td>بدون حافظه&zwnj;ی گرافیکی مجزا</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>رم و حافظه ذخیره&zwnj;سازی</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">ظرفیت حافظه RAM</td>
						<td style="width:70%">۱۶ گیگابایت</td>
					</tr>
					<tr>
						<td>نوع حافظه RAM</td>
						<td>DDR۴</td>
					</tr>
					<tr>
						<td>فرکانس حافظه رم</td>
						<td>۳۲۰۰ مگاهرتز</td>
					</tr>
					<tr>
						<td>ظرفیت حافظه داخلی</td>
						<td>۵۱۲ گیگابایت</td>
					</tr>
					<tr>
						<td>نوع حافظه داخلی</td>
						<td>SSD</td>
					</tr>
					<tr>
						<td>مشخصات حافظه داخلی</td>
						<td>NVMe M.۲ PCIe ۳</td>
					</tr>
					<tr>
						<td>سایر توضیحات حافظه داخلی</td>
						<td>قابلیت ارتقا دارد</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>صفحه نمایش</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">سایز صفحه نمایش</td>
						<td style="width:70%">۱۵.۶ اینچ</td>
					</tr>
					<tr>
						<td>نوع صفحه نمایش (پنل)</td>
						<td>TN</td>
					</tr>
					<tr>
						<td>دقت صفحه نمایش</td>
						<td>Full HD| ۱۹۲۰ x۱۰۸۰ پیکسل</td>
					</tr>
					<tr>
						<td>نرخ بروزرسانی تصویر</td>
						<td>۶۰ هرتز</td>
					</tr>
					<tr>
						<td>توضیحات صفحه نمایش</td>
						<td>نسبت تصویر: ۱۶:۹ / حداکثر روشنایی: ۲۵۰ نیت / پوشش ۴۵% دامنه رنگی NTSC</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>باتری</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">توضیحات باتری</td>
						<td style="width:70%">سه سلولی با ظرفیت ۴۲ وات ساعت</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>امکانات</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">نورپردازی صفحه کلید</td>
						<td style="width:70%">بدون نورپردازی</td>
					</tr>
					<tr>
						<td>مشخصات اسپیکر</td>
						<td>بلندگوهای داخلی SonicMaster</td>
					</tr>
					<tr>
						<td>توضیحات وبکم</td>
						<td>۷۲۰p HD به همراه درپوش لنز</td>
					</tr>
					<tr>
						<td>مشخصات تاچ پد</td>
						<td>پشتیبانی از فرمان&zwnj;های چند لمسی</td>
					</tr>
					<tr>
						<td>امکانات دیگر</td>
						<td>بدنه پلاستیکی</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><strong>درگاه&zwnj;ها و فناوری&zwnj;های ارتباطی</strong></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<table border="0" cellpadding="1" cellspacing="1" class="table table-striped" style="width:100%">
				<tbody>
					<tr>
						<td style="width:30%">درگاه&zwnj;ها و فناوری&zwnj;های ارتباطی</td>
						<td style="width:70%">
						<p>USB</p>

						<p>Wi-Fi</p>

						<p>Bluetooth</p>

						<p>جک ۳.۵ میلی&zwnj;متری صدا</p>

						<p>USB Type-C</p>

						<p>HDMI ۱.۴</p>
						</td>
					</tr>
					<tr>
						<td>توضیحات شبکه بی سیم Wi-Fi</td>
						<td>Wi-Fi ۶(۸۰۲.۱۱ax) (Dual band) ۲*۲</td>
					</tr>
					<tr>
						<td>نسخه&zwnj;ی بلوتوث</td>
						<td>۵.۳</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


</body>
</html>