{% if user.is_authenticated %}
    {% if user.isCustomer %}
        <div class="lang-curr-dropdown account-dropdown-active">
            <ul>
                <li>
                    <a href="{% url 'customer-order-history' %}">سفارشات</a>
                </li>
                <li>
                    <a href="{% url 'customer-profile' %}">پروفایل</a>
                </li>
                <li>
                    <a href="{% url 'customer-change-password' %}">تغییر رمز</a>
                </li>
                <li>
                    <a href="{% url 'logout-view' %}">خروج</a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="lang-curr-dropdown account-dropdown-active">
            <ul>

                <li><a href="{% url 'cashier:dashboard' %}">داشبورد</a></li>
                <li>
                    <a href="{% url 'cashier:order-by-status' 'all' %}">سفارشات</a>
                </li>
                <li>
                    <a href="{% url 'cashier:change-password' %}">تغییر رمز</a>
                </li>
                <li><a href="{% url 'logout-view' %}">خروج</a></li>

            </ul>
        </div>
    {% endif %}
{% else %}
    <div class="lang-curr-dropdown account-dropdown-active">
        <ul>
            <li><a href="{% url 'login-view' %}">ورود</a></li>
            <li><a href="{% url 'candid-phone-verification-view' %}">ثبت نام</a></li>
        </ul>
    </div>

{% endif %}
