{% extends 'Layout/Dashboard/Customer/dashboard.html' %}
{% load humanize %}
{% load jalali_tags %}
{% block title %}
    سفارشات
{% endblock %}


{% block meta %}
{% endblock %}


{% block bread_crumb %}
    <!-- breadcrumb__start -->
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb__title">
                        <h1> جزییات سفارش</h1>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">صفحه اصلی</a>
                            </li>

                            <li>
                                <a href="{% url 'customer-dashboard' %}">داشبورد</a>
                            </li>

                            <li>
                                <a href="{% url 'customer-order-history' %}">لیست سفارشات</a>
                            </li>

                            <li class="color__blue">سفارش شماره {{ order.id }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb__end -->

{% endblock %}



{% block dash_main %}

    <div class="cartarea sp_bottom_100 ">
        <div class="container">
            <div class="row">
                <div>
                    <h4> سفارش {{ order.id }} </h4>
                    <h5>مجموع خرید: <span>{{ order.total_amount|intcomma:False }} ریال</span></h5>
                </div>
                <div class="col-xl-12 py-2">
                    <div class="cartarea__table__content table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>محصول</th>
                                <th>مبلغ</th>
                                <th>تعداد</th>
                                <th>مبلغ کل</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order.items.all %}
                                <tr>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>{{ item.product.title }}</td>
                                    <td>{{ item.price|intcomma:False }}ریال</td>
                                    <td>
                                        {{ item.quantity }}
                                    </td>
                                    <td>{{ item.total_price|intcomma:False }}ریال</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if payments %}
                    <div class="col-xl-12 py-5">
                        <h5>لیست پرداختی های سفارش</h5>
                        <div class="cartarea__table__content table-responsive">
                            <table class="py-5">
                                <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>مبلغ</th>
                                    <th>شماره تراکنش</th>
                                    <th>تاریخ</th>
                                    <th>وضعیت</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in payments %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>{{ item.amount|intcomma:False }}ریال</td>
                                        <td>{{ item.transaction_id }}</td>
                                        <td>
                                            {{ item.created_at|to_jalali:"%H:%M -  %Y/%m/%d" }}
                                        </td>
                                        <td>{{ item.get_status_persian }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>



{% endblock %}