<style>

    .brand-item-list {
        display: block;
        margin-bottom: 8px; /* Optional: adds space between items */
    }
</style>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
    <div class="blog__sidebar">
        <h4 class="blog__sidebar__title">جستجو</h4>
        <form method="get" action="{% url 'shop-view' %}">

            <div class="blog__search">
                <input type="text" name="search" placeholder="جستجو در فروشگاه">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>


    <div class="sidebar sidebar-collapse-hide">
        <div class="sidebar__widget widget-collapse-show">
            <div class="sidebar__title">
                <h4>دسته بندی ها</h4>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="sidebar__menu">
                <ul>
                    <li>
                        <a href="{% url 'shop-view' %}">همه <span>({{ number_of_products }})</span></a>
                    </li>
                    {% for item in categories %}
                        <li>
                            <a href="{% url 'shop-view' %}?category={{ item.id }}">{{ item.title }}
                                <span>({{ item.product_count }})</span></a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>

    <div class="sidebar__widget widget-collapse-show">
        <div class="sidebar__title">
            <h4>برند</h4>
            <i class="fa fa-angle-down"></i>
        </div>
        <div>
            <form method="get" action="{% url 'shop-view' %}">
                <ul>
                    {% for item in brands %}
                        <li class="brand-item-list">
                            <div>
                                <input id="chk{{ item.id }}" type="checkbox" name="brands" value="{{ item.id }}"
                                    {% if item.id|stringformat:"s" in selected_brands %}checked{% endif %}>
                                <label for="chk{{ item.id }}">{{ item.title }}</label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" class="default__button sidebar-collapse-btn" data-aos="fade-up"
                        data-aos-duration="1800">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewbox="0 0 32 32" width="24">
                        <g id="Layer_2" data-name="Layer 2">
                            <path d="m28.552 6.184h-2.671a4.556 4.556 0 0 0 -8.659 0h-13.774a1.449 1.449 0 0 0 0 2.9h13.774a4.556 4.556 0 0 0 8.659 0h2.671a1.449 1.449 0 0 0 0-2.9zm-7 3.138a1.69 1.69 0 1 1 1.689-1.69 1.692 1.692 0 0 1 -1.689 1.69z"></path>
                            <path d="m28.552 14.552h-13.774a4.556 4.556 0 0 0 -8.659 0h-2.671a1.448 1.448 0 0 0 0 2.9h2.671a4.556 4.556 0 0 0 8.659 0h13.774a1.448 1.448 0 0 0 0-2.9zm-18.1 3.138a1.69 1.69 0 1 1 1.686-1.69 1.692 1.692 0 0 1 -1.69 1.69z"></path>
                            <path d="m28.552 22.919h-2.671a4.556 4.556 0 0 0 -8.659 0h-13.774a1.449 1.449 0 0 0 0 2.9h13.774a4.556 4.556 0 0 0 8.659 0h2.671a1.449 1.449 0 0 0 0-2.9zm-7 3.138a1.69 1.69 0 1 1 1.689-1.689 1.692 1.692 0 0 1 -1.689 1.689z"></path>
                        </g>
                    </svg>
                    فیلتر
                </button>

            </form>
        </div>
    </div>
</div>