{% extends 'Layout/Base/base.html' %}

{% block title %}
    دسترسی غیر مجاز
{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}

    <!-- coll__section__start -->
    <div class="coll__section sp_top_80">
        <div class="container coll__color">
            <div class="row">
                <div class="col-xl-12">
                    <div class="coll__section__inner">
                        <h6>دسترسی غیر مجاز</h6>
                        <h3>شما به این صفحه دسترسی ندارید</h3>
                        <div class="button__wrapper">
                            <a href="{% url 'home' %}" class="default__button">صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- coll__section__end -->

{% endblock %}