{% load humanize %}
<div class="grid__wraper">
    <div class="grid__wraper__img">
        <div class="grid__wraper__img__inner">
            <a href="{% url 'product-detail-view' item.slug %}">
                {% if item.primary_image %}
                    <img class="primary__image" src="{{ item.primary_image.url }}"
                         alt="Primary Image">
                {% endif %}
                {% if item.secondary_image %}
                    <img class="secondary__image" src="{{ item.secondary_image.url }}"
                         alt="Secondary Image">
                {% elif item.primary_image %}
                    <img class="secondary__image" src="{{ item.primary_image.url }}"
                         alt="Secondary Image">
                {% endif %}
            </a>
        </div>
        <div class="grid__wraper__icon">
            <ul>
                <li>
                    <span data-bs-toggle="modal" data-bs-target="#exampleModal{{ item.id }}">
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                           title="نمایش سریع" data-bs-original-title="نمایش سریع">
                            <i class="far fa-eye"></i>
                        </a>
                    </span>
                </li>
                {% if item.inventory %}

                    <li>
                     <form id="addOneItemToCart" method="post" action="{% url 'add-to-cart' %}">
                         {% csrf_token %}
                         <input type="hidden" name="product_id" value="{{ item.id }}">
                     </form>
                          <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" onclick="document.getElementById('addOneItemToCart').submit(); return false;"
                           title="افزودن به سبد خرید"
                           data-bs-original-title="افزودن به سبد خرید">
                            <i class="fas fa-shopping-cart"></i>
                        </a>


                    </li>
                {% endif %}
                <li>
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                       title="افزودن به لیست آرزوها"
                       data-bs-original-title="افزودن به لیست آرزوها">
                        <i class="far fa-heart"></i>
                    </a>
                </li>


            </ul>
        </div>

        <div class="grid__wraper__badge">
            {% if item.image_tag %}
                <span class="new__badge">{{ item.image_tag }}</span>
            {% endif %}
            {% if item.discount %}
                <span class="sale__badge">-{{ item.discount }}%</span>
            {% endif %}
        </div>
        {% if item.offer_end_date > current_time %}
            <div class="grid__wraper__countdown"
                 data-countdown="{{ item.offer_end_date|date:'Y/m/d' }}">
                <div class="count">
                    <p>422</p><span>روزها</span>
                </div>
                <div class="count">
                    <p>23</p> <span>ساعت</span>
                </div>
                <div class="count">
                    <p>25</p> <span>دقیقه</span>
                </div>
                <div class="count">
                    <p>01</p> <span>ثانیه</span>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="grid__wraper__info">
        <h3 class="grid__wraper__tittle">
            {% if item.slug %}
                <a href="{% url 'product-detail-view' item.slug %}" tabindex="0">{{ item.title }}</a>
            {% endif %}
        </h3>
        <div class="grid__wraper__price">
            {% if item.old_price %}
                <del>{{ item.old_price|intcomma:False }} ریال</del>
            {% endif %}
            <span>{{ item.current_price|intcomma:False }} ریال</span>
        </div>
    </div>
</div>