{% extends 'Layout/Dashboard/Customer/dashboard.html' %}
{% load humanize %}
{% load jalali_tags %}
{% block title %}
    تغییر کلمه عبور
{% endblock %}


{% block meta %}
{% endblock %}


{% block bread_crumb %}
    <!-- breadcrumb__start -->
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb__title">
                        <h1>تغییر کلمه عبور</h1>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">صفحه اصلی</a>
                            </li>

                            <li>
                                <a href="{% url 'customer-dashboard' %}">داشبورد</a>
                            </li>
                            <li class="color__blue">تغییر کلمه عبور</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb__end -->

{% endblock %}




{% block dash_main %}
    <div class="checkoutarea__billing">
        <div class="checkoutarea__billing__heading">
            <h2>جزئیات صورتحساب</h2>
        </div>
        <div class="checkoutarea__billing__form col-6">
            <form autocomplete="off" action="" method="post">
                {% csrf_token %}


                <div class="row">
                    <div class="col-xl-12">
                        <div class="checkoutarea__inputbox">
                            <label for="id_old_password">پسورد کنونی</label>
                            <input class="form-control" id="id_old_password" required name="old_password"
                                   type="password"
                                   placeholder="پسورد کنونی">

                        </div>
                        <div class="text-danger">
                            {{ form.old_password.errors }}
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="checkoutarea__inputbox">
                            <label for="id_new_password1">پسورد جدید</label>
                            <input class="form-control" id="id_new_password1" required name="new_password1"
                                   type="password"
                                   placeholder="پسورد جدید">
                        </div>
                        <div class="text-danger">
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                     <div class="col-xl-12">
                        <div class="checkoutarea__inputbox">
                            <label for="id_new_password2">تکرار پسورد جدید</label>
                                        <input class="form-control" id="id_new_password2" required name="new_password2"
                                               type="password"
                                               placeholder="رمز عبور جدید را دوباره تایپ کنید">
                        </div>
                        <div class="text-danger">
                               {{ form.new_password2.errors }}
                        </div>
                    </div>
                </div>

                <button type="submit" class="default__button" id="change_address">
                  به روز رسانی
                </button>


            </form>
        </div>
    </div>


{% endblock %}